/.vs
/Assignment.API/bin
/Assignment.API/obj
/Assignment.API/Logs
/Assignment.Common/bin
/Assignment.Common/obj
/Assignment.Data/bin
/Assignment.Data/obj
/Assignment.Models/bin
/Assignment.Models/obj
/Assignment.Services/bin
/Assignment.Services/obj





